@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #292929;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;
    padding: 0 64px;
}

p:first-child {
    font-size: 40px;
    font-weight: 400;
    color: #FFFEF8;
    text-align: center;
    margin-top: 0;
}

p:nth-child(2) {
    color: #949494;
    text-align: center;
    font-size: 31px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 64px;
}

/*NAVIGATION*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

ul li {
    float: left;
    margin-right: 60px;
    font-size: 17px;
    font-weight: 400;
}

ul li:last-child {
    margin-right: 0;
    padding: 12px 24px;
    background: #1938D5;
    border-radius: 12px;
}

ul li:first-child::after {
    content: '˅';
    color: #fff;
    margin-left: 10px;
    font-weight: 600;
}

/*HEADER*/

header.container {
    margin-top: 145px;
}

header p {
    width: 63%;
    max-width: 826px;
    margin: 0 auto;
}

header img {
    width: 100%;
    margin-top: 39px;
}

/*SLIDER*/

section.slider {
    margin-top: 215px;
}

section.slider p:first-child {
    margin-bottom: 16px;
}

div.slider {
    display: flex;
}

div .card {
    width: 421px;
    height: 390px;
    border-radius: 16px;
    background: #555151;
}

/*NEW WAY*/

.new_way {
    width: 71%;
    max-width: 934px;
    margin: 0 auto;
    margin-top: 150px;
}

.new_way img {
    width: 100%;
}

/*VISIBILITY*/

.visibility {
    width: 53%;
    max-width: 688px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 0 10px;
    background: url(images/bg.png) no-repeat;
    background-position: bottom;
    background-size: 100% 88%;
}

.visibility p:first-child {
    margin-bottom: 8px;
}

.visibility img {
    width: 100%;
    margin-bottom: 126px;
}

.ingredients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(2, 150px);
    gap: 24px;
}
    
.ingredients p {
    grid-area: 1 / 1 / 2 / 4;
    margin-bottom: 40px;
}

.in_card {
    background: #555151;
    height: 1fr;
    border-radius: 16px;
    padding: 32px;
    display: flex;
}

.in_card div {
    margin-left: 32px;
}

.in_card img {
    width: 80px;
}

div .head {
    color: #FFFEF8;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 2px;
    line-height: 32px;
    text-align: left;
}

div .desc {
    color: #949494;
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    line-height: 24px;
    text-align: left;
}

/*SECURE*/

.secure {
    margin-top: 160px;
    padding: 0 204px;
    display: grid;
    grid-template-columns: repeat(33%, 3);
    grid-template-rows: 1fr 122px;
    gap: 24px;
}

.secure p {
    margin-bottom: 40px;
    grid-area: 1 / 1 / 2 / 4;
}

.sec_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 190px;
}

.sec_card img {
    width: 64px;
    margin-bottom: 34px;
}

.sec_card span {
    color: #949494;
    font-size: 17px;
    font-weight: 400;
}

div.container img {
    margin-top: 160px;
    width: 100%;
}

.missing {
    width: 700px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 122px;
}

.missing p {
    font-size: 56px;
}

.missing button {
    margin-top: 64px;
    width: 37%;
    height: 32px;
    min-width: 261px;
    padding: 0 23px;
    border-radius: 12px;
    background: #1938D5;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    border: none;
}