@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #292929;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;
    padding: 0 64px;
}

p:first-child {
    font-size: 40px;
    font-weight: 400;
    color: #FFFEF8;
    text-align: center;
    margin-top: 0;
}

p:nth-child(2) {
    color: #949494;
    text-align: center;
    font-size: 31px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 64px;
}

/*NAVIGATION*/

.menu_bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_icon {
    cursor: pointer;
    display: flex;
    width: 32px;
    height: 32px;
}

.navigation {
    display: flex;
    align-items: center;
    list-style: none;
}

.navigation > li {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    margin-left: 44px;
}

.navigation > li:first-child::after {
    content: '˅';
    font-weight: 600;
    margin-left: 8px;
    margin-top: 2px;
    color: #fff;
}

.navigation > li:last-child {
    padding: 12px 24px;
    background: #1938D5;
    border-radius: 12px;
}

.menu_icon {
    display: none;
}

@media (max-width: 800px) {
    .navigation {
        display: none;
    }

    .menu_icon {
        display: block;
    }

    .navigation_mobile {
        position: absolute;
        top: 80px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 50vw;
        background-color: rgba(18, 18, 18, 0.9);
        border-radius: 12px;
    }

    .navigation > li {
        margin-left: 0;
        margin-top: 30px;
        font-size: 24px;
    }

    .navigation > li:last-child {
        margin-bottom: 30px;
        opacity: 1;
    }
}

/*HEADER*/

header .poster {
    margin-top: 145px;
}

header .poster p {
    width: 63%;
    max-width: 826px;
    margin: 0 auto;
}

header .poster img {
    width: 100%;
    margin-top: 39px;
}

/*SLIDER*/

section.slider {
    margin-top: 215px;
}

section.slider p:first-child {
    margin-bottom: 16px;
}

div.slider {
    display: flex;
}

div .card {
    width: 421px;
    height: 390px;
    border-radius: 16px;
    background: #555151;
}

/*NEW WAY*/

.new_way {
    width: 71%;
    max-width: 934px;
    margin: 0 auto;
    margin-top: 150px;
}

.new_way img {
    width: 100%;
}

/*VISIBILITY*/

.visibility {
    width: 53%;
    max-width: 688px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 0 10px;
    background: url(images/bg.png) no-repeat;
    background-position: bottom;
    background-size: 100% 88%;
}

.visibility p:first-child {
    margin-bottom: 8px;
}

.visibility img {
    width: 100%;
    margin-bottom: 126px;
}

.ingredients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(2, 150px);
    gap: 24px;
}
    
.ingredients p {
    grid-area: 1 / 1 / 2 / 4;
    margin-bottom: 40px;
}

.in_card {
    background: #555151;
    height: 1fr;
    border-radius: 16px;
    padding: 32px;
    display: flex;
}

.in_card div {
    margin-left: 32px;
}

.in_card img {
    width: 80px;
}

div .head {
    color: #FFFEF8;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 2px;
    line-height: 32px;
    text-align: left;
}

div .desc {
    color: #949494;
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    line-height: 24px;
    text-align: left;
}

/*SECURE*/

.secure {
    margin-top: 160px;
    padding: 0 204px;
    display: grid;
    grid-template-columns: repeat(33%, 3);
    grid-template-rows: 1fr 122px;
    gap: 24px;
}

.secure p {
    margin-bottom: 40px;
    grid-area: 1 / 1 / 2 / 4;
}

.sec_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 190px;
}

.sec_card img {
    width: 64px;
    margin-bottom: 34px;
}

.sec_card span {
    color: #949494;
    font-size: 17px;
    font-weight: 400;
}

div.container img {
    margin-top: 160px;
    width: 100%;
}

.missing {
    width: 700px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 122px;
}

.missing p {
    font-size: 56px;
}

.missing button {
    margin-top: 64px;
    margin-bottom: 16px;
    width: 37%;
    height: 32px;
    min-width: 261px;
    padding: 0 23px;
    border-radius: 12px;
    background: #1938D5;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    border: none;
}

.partners {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners p {
    color: #949494;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
}

.icons {
    margin-top: 33px;
}

.icons img {
    width: 40px;
    margin-right: 56px;
}

.icons img:last-child {
    margin-right: 0;
}

/*LINKS*/

.links {
    display: grid;
    grid-template-columns: repeat(50%, 2);
    grid-template-rows: 308px;
    margin-top: 150px;
}

.left {
    grid-area: 1 / 1;
}

.left img:first-child {
    display: block;
    width: 96px;
}

.left img:last-child {
    width: 249px;
    margin-top: 96px;
}


.right {
    grid-area: 1 / 2;
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: auto;
}

.right .part:first-child {
    grid-area: 1 / 1;
}

.right .part:nth-child(2) {
    grid-area: 1 / 2;
}

.right .part:last-child {
    grid-area: 1 / 3;
}

.part p {
    color: #949494;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    text-align: left;
}

.part ul {
    list-style: none;
    color: #FFFEF8;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin-top: 30px;
}

.part ul li {
    margin-bottom: 12px;
}

.part ul li:hover {
    text-decoration: underline;
}

.part ul li:last-child {
    margin-bottom: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #BFBFBF;
    font-size: 11px;
    margin: 128px 0;
}

.info a {
    color: #BFBFBF;
    font-size: 11px;
    margin-right: 24px;
}

.info a:hover {
    text-decoration: underline;
}

.info > div {
    display: flex;
    align-items: center;
}

.info .icons {
    margin-top: 0;
}

.info .icons img {
    margin-right: 8px;
}

.info .icons img:last-child {
    margin-right: 0;
}