@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #292929;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;
    padding: 0 64px;
}

p:first-child {
    font-size: 40px;
    font-weight: 400;
    color: #FFFEF8;
    text-align: center;
    margin-top: 0;
}

p:nth-child(2) {
    color: #949494;
    text-align: center;
    font-size: 31px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 64px;
}

/*NAVIGATION*/

.menu_bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_icon {
    cursor: pointer;
    display: flex;
    width: 32px;
    height: 32px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation > li {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    margin-left: 44px;
    padding: 10px;
}

.navigation > li:first-child::after {
    content: '˅';
    font-weight: 600;
    margin-left: 8px;
    margin-top: 2px;
    color: #fff;
}

@media (min-width: 800px) {
    .navigation > li:first-child:hover .dropdown{
        display: block;
    }
}

@media (max-width: 800px) {
    li.clicked > .dropdown {
        display: block;
        position: absolute;
    }
}

.navigation > li:last-child {
    padding: 12px 24px;
    background: #1938D5;
    border-radius: 12px;
}

.menu_icon {
    display: none;
}

.dropdown {
    position: absolute;
    top: 40px;
    left: -20%;
    background-color: #1d1d1d;
    border-radius: 12px;
    padding: 15px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.dropdown > li {
    color: #fff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 6px;
}

.dropdown > li:hover {
    background: #2a2a2a;
}

.dropdown > li:last-child {
    margin-bottom: 0;
}

/*HEADER*/

header .poster {
    margin-top: 145px;
}

header .poster p {
    width: 63%;
    max-width: 826px;
    margin: 0 auto;
}

header .poster img {
    width: 100%;
    margin-top: 39px;
}

/*SLIDER*/

.slider-container {
    margin-top: 215px;
}

.slides {
    display: flex;
    overflow: hidden;
}

.slides .slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    min-width: 300px;
    height: 390px;
    border-radius: 16px;
    background: #555151;
    margin-right: 25px;
    padding: 32px;
}

.slides .slide:last-child {
    margin-right: 0;
}

.slide > img{
    width: 30%;
    min-width: 100px;
}

.slide > p {
    color: #949494;
    font-size: 24px;
    text-align: left;
    margin-top: 40px;
}

.slide > span {
    color: #949494;
    font-size: 17px;
    line-height: 24px;
    margin: 0;
}

@media (min-width: 800px) {
    .slide {
        transition: .3s;
    }

    .slide:hover {
        background-color: #1CFFE4;
    }

    .slide:hover > p, .slide:hover > span {
        color: #292929;
    }
}

@media (max-width: 800px) {

}

/*NEW WAY*/

.new_way {
    width: 71%;
    max-width: 934px;
    margin: 0 auto;
    margin-top: 150px;
}

.new_way img {
    width: 100%;
}

/*VISIBILITY*/

.visibility {
    width: 53%;
    max-width: 688px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 0 10px;
    background: url(images/bg.png) no-repeat;
    background-position: bottom;
    background-size: 100% 88%;
}

.visibility p:first-child {
    margin-bottom: 8px;
}

.visibility img {
    width: 100%;
    margin-bottom: 126px;
}

/*INGREDIENTS*/

.ingredients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(2, 150px);
    gap: 24px;
}
    
.ingredients p {
    grid-area: 1 / 1 / 2 / 4;
    margin-bottom: 40px;
}

.in_card {
    background: #555151;
    height: 1fr;
    border-radius: 16px;
    padding: 32px;
    display: flex;
}

.in_card div {
    margin-left: 32px;
}

.in_card img {
    width: 80px;
}

div .head {
    color: #FFFEF8;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 2px;
    line-height: 32px;
    text-align: left;
}

div .desc {
    color: #949494;
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    line-height: 24px;
    text-align: left;
}

/*SECURE*/

.secure {
    margin-top: 160px;
}

.secure p {
    margin-bottom: 40px;
}

.secure .cards {
    display: flex;
    justify-content: center;
}

.sec_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    max-width: 286px;
}

.sec_card img {
    width: 22%;
    min-width: 46px;
    max-width: 64px;
    margin-bottom: 34px;
}

.sec_card span {
    color: #949494;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

/**/

div.container > img {
    margin-top: 160px;
    width: 100%;
}

.missing {
    width: 54%;
    min-width: 500px;
    max-width: 700px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 122px;
}

.missing p {
    font-size: 56px;
}

.missing button {
    margin-top: 64px;
    margin-bottom: 16px;
    width: 37%;
    height: 32px;
    min-width: 261px;
    padding: 0 23px;
    border-radius: 12px;
    background: #1938D5;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    border: none;
}

.partners {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners p {
    color: #949494;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
}

.icons {
    margin-top: 33px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icons img {
    width: 40px;
    margin-right: 56px;
}

.icons img:last-child {
    margin-right: 0;
}

/*LINKS*/

.links {
    display: grid;
    grid-template-columns: repeat(50%, 2);
    grid-template-rows: 308px;
    margin-top: 150px;
}

.left {
    grid-area: 1 / 1;
}

.left img:first-child {
    display: block;
    width: 96px;
}

.left img:last-child {
    width: 249px;
    margin-top: 96px;
}


.right {
    grid-area: 1 / 2;
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: auto;
}

.right .part:first-child {
    grid-area: 1 / 1;
}

.right .part:nth-child(2) {
    grid-area: 1 / 2;
}

.right .part:last-child {
    grid-area: 1 / 3;
}

.part p {
    color: #949494;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    text-align: left;
}

.part ul {
    list-style: none;
    color: #FFFEF8;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin-top: 30px;
}

.part ul li {
    margin-bottom: 12px;
}

.part ul li:hover {
    text-decoration: underline;
}

.part ul li:last-child {
    margin-bottom: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #BFBFBF;
    font-size: 11px;
    margin: 128px 0;
}

.info a {
    color: #BFBFBF;
    font-size: 11px;
    margin-right: 24px;
}

.info a:hover {
    text-decoration: underline;
}

.info > div {
    display: flex;
    align-items: center;
}

.info .icons {
    margin-top: 0;
}

.info .icons img {
    margin-right: 8px;
}

.info .icons img:last-child {
    margin-right: 0;
}

@media (max-width: 1200px) {
    .container {
        padding: 0 32px;
    }

    .ingredients {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr repeat(3, 150px);
        gap: 24px;
    }
        
    .ingredients p {
        grid-area: 1 / 1 / 2 / 3;
        margin-bottom: 40px;
    }

    div .head {
        line-height: 24px;
        margin-bottom: 15px;
    }
    
    div .desc {
        line-height: 17px;
    }

    .missing p {
        font-size: 36px;
    }
}

@media (max-width: 800px) {
    .navigation {
        display: none;
    }

    .menu_icon {
        display: block;
    }

    .navigation_mobile {
        position: absolute;
        top: 80px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 50vw;
        background-color: rgba(18, 18, 18, 0.9);
        border-radius: 12px;
    }

    .navigation > li {
        margin-left: 0;
        margin-top: 30px;
        font-size: 24px;
    }

    .navigation > li:last-child {
        margin-bottom: 30px;
        opacity: 1;
    }
}

@media (max-width: 600px) {
    p:first-child {
        font-size: 24px;
    }
    
    p:nth-child(2) {
        font-size: 18px;
        margin-bottom: 32px;
    }
    header .poster {
        margin-top: 70px;
    }

    header .poster p {
        width: 100%;
    }

    section.slider {
        margin-top: 30px;
    }

    .new_way, .visibility, .secure, div.container, .missing, .partners, .info {
        width: 100%;
        margin-top: 30px;
        padding: 0;
    }

    .missing {
        max-width: 600px;
        min-width: 300px;
    }

    .secure > .cards > .sec_card {
        width: 33%;
    }

    div.container > img {
        margin: 0;
    }

    .missing p {
        width: 100%;
    }

    .missing button {
        margin-top: 0;
    }

    .partners .icons {
        margin-top: 0;
    }

    .partners .icons img {
        margin-right: 20px;
        margin-top: 5px;
    }

    .links {
        margin-top: 40px;
    }

    .links .left {
        display: none;
    }

    .links .right .part {
        margin-right: 10px;
    }

    .links .right .part:last-child {
        margin-right: 0;
    }

    .info {
        margin-bottom: 10px;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .info > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .info > div > a {
        margin-right: 0;
        margin-top: 5px;
    }

    .info > div > .icons {
        width: 100%;
        margin-top: 5px;
    }

    .ingredients {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .in_card {
        width: 100%;
    }

    .navigation_mobile {
        width: 60vw;
    }
}